<div class="container">
    <h1 class="mt-4 p-4" style="background-color: #0ae98a; color: white; border-radius: 8px;">Jovenes Emprendedores Colombianos</h1>

    <div class="row">
        <div *ngFor="let emprendedor of emprendedores" class="col-2">
            <div routerLink="/emprendedores/{{ emprendedor.id }}" class="card" style="border-color: #0ae98a; border-width: 3px; cursor: pointer;">
                <img [src]="emprendedor.foto_url" alt="emprendedor">
                <div class="card-body">
                    <h5 class="card-title">{{ emprendedor.nombre }}</h5>
                    <p class="card-text" style="font-weight: bold;">Genero: <span style="font-weight: lighter;">{{ emprendedor.genero }}</span></p>
                    <p class="card-text" style="font-weight: bold;">Pregrado: <span style="font-weight: lighter;">{{ emprendedor.pregrado }}</span></p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="col-2 p-3" style="background-color: #105c3a; color: white; border-radius: 8px; font-weight: bold;">
        Total emprendedores:{{ emprendedores.length }}
    </div>
    
</div>